.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left:0!important;
    color: rgba(0,0,0,.5)!important;
    z-index: 1;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 20px!important;
    height: 20px;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.select2-container--default .select2-selection--single {
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.25)!important;
    border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    padding: 10px 20px 9px 15px;
    height: auto!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 5px!important;
    height: 40px!important;
}
.select2-results__options .select2-results__option:first-child {
    display: none;
}
.select2-results__option {
    margin-left:0;
    padding-left: 10px;
    font-size: 13px;
    color: rgba(0,0,0,.5);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.select2-container--open .select2-dropdown {
    border: 1px solid rgba(0,0,0,.1);
    border-top: none;
}
.select2-container {
    margin-bottom: 20px;
    /*width:90%!important;*/
}